html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Opcional, para evitar barras de desplazamiento si no son deseadas */
}

#laberinto {
    position: relative;
    width: 100vw; /* Ancho de la ventana */
    height: 100vh; /* Altura de la ventana */
    background-color: #fff;
}
.pared {
    position: absolute;
    background-color: #333; /* Color de las paredes */
}

#pared1 {
    top: 5vh;
    left: 10vw;
    width: 80vw;
    height: 2vh;
}

#pared2 {
    top: 20vh;
    left: 10vw;
    width: 2vw;
    height: 50vh;
}

#pared3 {
    top: 70vh;
    left: 10vw;
    width: 60vw;
    height: 2vh;
}

#pared4 {
    top: 40vh;
    left: 60vw;
    width: 2vw;
    height: 30vh;
}

#pared5 {
    top: 20vh;
    left: 30vw;
    width: 40vw;
    height: 2vh;
}
.inicio, .fin {
    position: absolute;
    padding: 10px;
    background-color: #00ff00; /* Verde para inicio/fin */
    color: #fff;
    cursor: pointer;
}

.inicio {
    top: 10px;
    left: 10px;
}

.fin {
    bottom: 10px;
    right: 10px;
}
